section#geral,
section#emBreve,
section#asseguramos {
  min-height: 35vh;
  padding: 3vw;
}
section#geral {
  min-height: 50vh;
  padding: 8vw;
}
section#geral {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: left top;
  color: white;
  font-size: clamp(16px, 5vw, 18px);
  background-image: url(../new_img/PÁGINA\ OPORTUNIDADES.webp);
  display: flex;
  align-items: center;
  justify-content: flex-end;
  --larguraShift: 320px;
}
section#geral > div {
  min-height: 80px;
  /* width: clamp(30vw, 100%, 290px); */
  color: black;
  font-size: clamp(18px, 5vw, 22px);
  line-height: clamp(22px, 4vh, 32px);
}
#geral.container {
  display: flex;
  flex-direction: column;
}

#geral.container > div {
  margin-bottom: 20px; /* Adicione margem inferior entre os textos */
}
.button-container {
  display: flex;
  justify-content: center;
}

.retangular-button {
  background-color: #CCCCCC;
  color: #000000;
  border: 2px solid #000000;
  padding: 15px 30px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
  margin: 0 95px; /* Adicione margem entre os botões */
  font-size: 20px;
}

.retangular-button:hover {
  background-color: #999999;
  color: #FFFFFF;
}
section#emBreve a {
  cursor: pointer;
  font-weight: bolder;
}
section#emBreve a:hover {
  text-decoration: underline;
}
  section#emBreve > div:nth-of-type(1) {
  display: flex;
  flex-direction: column;
  gap: 8vh;
  font-size: clamp(16px, 5vw, 17px);
  font-weight: lighter;
}
section#emBreve > div:nth-of-type(1) > div:last-of-type {
  display: flex;
  gap: clamp(15px, 10vw, 40px);
  justify-content: center;
}
section#emBreve > div:nth-of-type(1) > div:last-of-type > div {
  min-height: 40px;
  font-weight: normal;
}
section#emBreve > div:nth-of-type(1) > div:last-of-type > div {
  background-repeat: no-repeat;
  background-size: contain;
  padding-left: 50px;
  display: flex;
  align-items: center;
  cursor: pointer;
}
section#emBreve > div:nth-of-type(1) > div:last-of-type > div:nth-of-type(1) {
  background-image: url(../img/facebook_candidato.png);
}
section#emBreve > div:nth-of-type(1) > div:last-of-type > div:nth-of-type(2) {
  background-image: url(../img/linkedin_candidato.png);
}
section#consciencia {
  min-height: 35vh;
  padding: 10vw;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  color: white;
  font-size: clamp(18px, 5vw, 24px);
  background-image: url(../img_menor/PÁGINA\ OPORTUNIDADES\ 2.png);
  display: flex;
  align-items: center;
  justify-content: center;
}
section#consciencia div {
  text-align: center;
}
section#consciencia > div > div:first-of-type {
  margin-bottom: 4vh;
  opacity: 0;
}
section#consciencia > div > div:last-of-type {
  opacity: 0;
  font-weight: 800;
}
section#asseguramos {
  display: flex;
  column-gap: 5vw;
  row-gap: 5vw;
  align-items: flex-start;
  justify-content: center;
}
section#asseguramos > div {
  display: flex;
  flex-direction: column;
  gap: clamp(5px, 10vw, 15px);
  justify-content: center;
  align-items: center;
}
section#asseguramos > div > div {
  text-align: center;
}
section#asseguramos > div > div:nth-of-type(1) {
  border-radius: 50%;
  border: 3px solid brown;
  color: brown;
  width: 45px;
  height: 45px;
  font-size: clamp(20px, 7vw, 30px);
  aspect-ratio: 1;
  display: flex;
  align-items: center;
  font-weight: 700;
  justify-content: center;
}
section#asseguramos > div > div:nth-of-type(2),
section#asseguramos > div > div:nth-of-type(3) {
  color: gray;
}
section#asseguramos > div > div:nth-of-type(2) {
  max-width: 280px;
  font-size: clamp(18px, 5vw, 20px);
  line-height: clamp(22px, 5vh, 25px);
  min-height: 75px;
}
section#asseguramos > div > div:nth-of-type(3) {
  max-width: 300px;
  font-size: clamp(14px, 5vw, 16px);
  line-height: clamp(18px, 5vh, 20px);
}
@media only screen and (max-width: 650px) {
  section#geral {
    background-image: url(../img/candidato_1_mobile.webp);
    justify-content: center;
    align-items: flex-start;
    background-color: #d9d9d9;
    overflow: hidden;
    padding: 0;
    min-height: 350px;
  }
  section#geral > div {
    margin-top: clamp(10px, 5vh, 20px);
    width: clamp(180px, 80%, 320px);
    text-align: center;
    font-size: clamp(18px, 5vw, 24px);
    line-height: clamp(24px, 8vw, 28px);
    /* background-color: red; */
  }
  #emBreve > div > div {
    text-align: center;
  }
  section#asseguramos {
    flex-direction: column;
    align-items: center;
  }
  section#asseguramos > div {
    gap: 10px;
  }
  section#asseguramos > div > div:nth-of-type(2) {
    min-height: unset;
  }
}
#feedback {
  background-color: #333; /* Cinza mais forte */
  color: #ffffff; /* Cor do texto branco */
  padding: 50px 0;
}
.containerBalao {
  max-width: 800px;
  margin: 0 auto;
}
.baloes {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.balao {
  background-color: #fff;
  color: #333; /* Cor do texto nos balões */
  border-radius: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding: 20px;
  margin-bottom: 60px;
  max-width: calc(33% - 40px); /* Alterado para 33% para acomodar 3 balões por linha */
  text-align: left;
  position: relative;
  margin-right: 20px;
  font-family: var(--fontExtraBold);
  box-sizing: border-box; /* Faz com que o padding seja incluído no tamanho total do balão */
  flex: 1 0 30%; /* Cresce para preencher o espaço, não encolhe, base de 30% */
}
.baloes {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.balao p {
  text-align: center;
  line-height: 1.3;
}
.balao::before {
  content: '';
  position: absolute;
  bottom: -20px;
  left: 30px;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 20px 15px 0;
  border-color: #fff transparent transparent;
}
#pqFirst {
  min-height: 40vh;
  padding: 5vh;
}
#pqFirst > div:nth-of-type(1) {
  font-family: var(--fontExtraBold);
  font-size: var(--fontSizeTitulos);
  margin: 2vh auto 4vh auto;
  width: max-content;
  max-width: 100%;
  text-align: center;
}
#pqFirst > div:nth-of-type(2) {
  display: flex;
  gap: 4.9vw;
  justify-content: space-evenly;
  flex-wrap: wrap;
}
#pqFirst > div:nth-of-type(2) > div {
  max-width: 180px;
  min-width: 110px;
  line-height: 20px;
  text-align: center;
  opacity: 0;
}
#pqFirst > div:nth-of-type(2) > div:nth-of-type(2) {
  margin-top: -45px; /* Ajusta a margem superior negativa para subir o texto */
}
#pqFirst > div:nth-of-type(2) > div:nth-of-type(4) {
  margin-top: -30px; /* Ajusta a margem superior negativa para subir o texto */
}
#pqFirst > div:nth-of-type(2) > div > div:nth-of-type(1) {
  min-width: 110px;
  height: 110px;
  aspect-ratio: 1/1;
  background-position: top center;
  background-repeat: no-repeat;
  background-size: contain;
  margin-bottom: 10px;
}
#pqFirst > div:nth-of-type(2) > div:nth-of-type(1) > div:nth-of-type(1) {
  background-image: url(../new_img/ICON\ 2.png);
  margin-left: 40px;
}
#pqFirst > div:nth-of-type(2) > div:nth-of-type(2) > div:nth-of-type(1) {
  background-image: url(../new_img/ICON\ 1.png);
  margin-left: 40px;
  margin-top: 45px;
}
#pqFirst > div:nth-of-type(2) > div:nth-of-type(3) > div:nth-of-type(1) {
  background-image: url(../new_img/ICON\ 6.png);
  margin-left: 40px;
}
#pqFirst > div:nth-of-type(2) > div:nth-of-type(4) > div:nth-of-type(1) {
  background-image: url(../new_img/ICON\ 7.png);
  margin-left: 40px;
  margin-top: 30px;
}
#pqFirst > div:nth-of-type(2) > div:nth-of-type(5) > div:nth-of-type(1) {
  background-image: url(../new_img/ICON\ 5.png);
  margin-left: 40px;
}
/* #pqFirst > div:nth-of-type(2) > div:nth-of-type(6) > div:nth-of-type(1) {
  background-image: url(/img/icone_6.png);
} */