  section.inicial {
  /* background-image: url(/img/empresa_1.webp); */
  background-image: url(../img_menor/PÁGINA\ O\ GRUPO\ 7.webp);
  /* background-image: url(/new_img/PÁGINA\ O\ GRUPO.png); */
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}
section.historia {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-areas:
    "imagem p1"
    "imagem p2"
    "imagem p3";

  gap: 2vw;
  padding: 2vw;
}
section.historia > div:nth-of-type(1) {
  grid-area: imagem;
  position: relative;
}
section.historia > div:nth-of-type(2) {
  grid-area: p1;
}
section.historia > div:nth-of-type(3) {
  grid-area: p2;
}
section.historia > div:nth-of-type(4) {
  grid-area: p3;
}
/* section.historia > div:nth-of-type(1) img {
  top: 0;
  left: 0;
  opacity: 0;
  max-width: 457.8px;
  height: auto;
  max-height: min(350px, 100%);
  position: absolute;
} */
section.historia > div:nth-of-type(n + 2) {
  padding-top: 0;
  font-size: clamp(16px, 5vw, 18px);
}
section#ettFirst,
section#shift,
section#recruit {
  min-height: 35vh;
  padding: 5vw;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: left top;
  color: white;
  font-size: clamp(16px, 5vw, 18px);
}

section#ettFirst > div > div:nth-of-type(1),
section#shift > div > div:nth-of-type(1),
section#recruit > div > div:nth-of-type(1) {
  background-repeat: no-repeat;
  background-size: contain;
  background-position: left top;
  height: 75px;
  margin-bottom: 3vh;
  opacity: 0;
}

section#ettFirst div > div:nth-of-type(2),
section#shift div > div:nth-of-type(2),
section#recruit div > div:nth-of-type(2) {
  min-height: 80px;
  width: clamp(30vw, 365px, 100%);
  margin-bottom: 1.5vh;
}
section#ettFirst ul,
section#shift ul,
section#recruit ul {
  font-weight: bold;
  list-style: none;
}
section#ettFirst ul li,
section#shift ul li,
section#recruit ul li {
  min-height: 30px;
}
section#ettFirst ul li:before,
section#shift ul li:before,
section#recruit ul li:before {
  content: "";
  display: inline-block;
  background-image: url(../img/check.png);
  height: 17px;
  width: 25px;
  background-repeat: no-repeat;
  background-size: 18px;
  background-position: left 4px;
}

section#ettFirst {
  background-image: url(../img/empresa_3.webp);
}
section#ettFirst > div:nth-of-type(1) {
  width: clamp(30vw, 365px, 100%);
}
section#ettFirst > div > div:nth-of-type(1) {
  background-image: url(../img/logo_ett.png);
}
section#shift {
  background-image: url(../img/empresa_4.webp);
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  --larguraShift: 320px;
}
section#shift > div > div:nth-of-type(1) {
  background-image: url(../img/logo_shift.png);
  min-width: var(--larguraShift);
}
section#shift > div > div:nth-of-type(2) {
  width: var(--larguraShift);
}
section#recruit {
  background-image: url(../img/empresa_5.webp);
}
section#recruit > div > div:nth-of-type(1) {
  background-image: url(../img/logo_recruit.png);
}

section#valores {
  background-image: url(../img/empresa_6.webp);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: left top;
  min-height: 35vh;
  padding: 8vw;
  color: white;
}
section#valores > div:nth-of-type(1) {
  font-size: clamp(22px, 10vw, 28px);
  text-align: center;
  min-height: 55px;
  margin-bottom: 3vh;
}
section#valores > div:nth-of-type(2) {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  column-gap: 6vw;
  row-gap: 3vh;
  align-items: stretch;
}
section#valores > div:nth-of-type(2) > div {
  max-width: 225px;
  text-align: center;
  border: 3px solid #193264;
  padding: 15px;
  opacity: 0;
}
section#valores > div:nth-of-type(2) > div > div:first-of-type {
  font-size: clamp(18px, 10vw, 20px);
  min-height: 63px;
  line-height: 25px;
}
section#valores > div:nth-of-type(2) > div > div:last-of-type {
  font-size: clamp(13px, 10vw, 15.5px);
}
section#consultores {
  min-height: 35vh;
  padding: 6vw;
}
#menuSuspenso > a.active, #menuSuspensoMobile > a.active {
  color: var(--vermelhoFirst);
}
section#consultores > div:nth-of-type(1) {
  font-size: clamp(22px, 10vw, 28px);
  text-align: center;
  min-height: 55px;
  margin-bottom: 3vh;
}
section#consultores > div:nth-of-type(2) {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  column-gap: 3vw;
  row-gap: 3vh;
  align-items: stretch;
}
section#consultores > div:nth-of-type(2) > div {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: left top;
  --larguraConsultor: 135px;
  width: var(--larguraConsultor);
  max-width: var(--larguraConsultor);
  height: calc(var(--larguraConsultor) * 1.3);
  padding: 20px;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}
section#consultores > div:nth-of-type(2) > div:nth-of-type(1) {
  background-image: url(../img/consulores_1.png);
  background-image: url(../img/consulores_1.webp);
}
section#consultores > div:nth-of-type(2) > div:nth-of-type(2) {
  background-image: url(../img/consulores_2.png);
  background-image: url(../img/consulores_2.webp);
}
section#consultores > div:nth-of-type(2) > div:nth-of-type(3) {
  background-image: url(../img/consulores_3.png);
  background-image: url(../img/consulores_3.webp);
}
section#consultores > div:nth-of-type(2) > div:nth-of-type(4) {
  background-image: url(../img/consulores_4.png);
  background-image: url(../img/consulores_4.webp);
}
section#consultores > div:nth-of-type(2) > div:nth-of-type(5) {
  background-image: url(../img/consulores_5.png);
  background-image: url(../img/consulores_5.webp);
}
.button {
  opacity: 0;
  transform: translate3d(0, 100px, 0);
  transition: opacity 2s, transform 2s;
}

.button.visible {
  opacity: 1;
  transform: translate3d(0, 0, 0);
}

@media only screen and (max-width: 812px) {
  section.historia {
    grid-template-areas:
      "p1 imagem"
      "p2 p3";
    padding: 4vw;
    gap: 4vw;
  }
  section.historia > :nth-of-type(1) {
    min-height: 185px;
  }
  section.historia > div:nth-of-type(1) img {
    width: auto;
    max-width: 457.8px;
    height: 100%;
    max-height: 350px;
  }
  section.historia > div:nth-of-type(1) img {
    margin-left: auto;
    margin-right: auto;
    right: 0;
  }
}

@media screen and (max-width: 768px) {
  .button, .button.visible {
    opacity: 1;
    transform: translate3d(0, 0, 0);
    transition: none;
}
  /*section.historia > div:nth-of-type(1) img {
    width: 50%; /* Define a largura da imagem como 50% da largura da tela em dispositivos móveis
  }*/
    section.historia > div:nth-of-type(1) img {
        width: 100%;
    }
  .retangular-button {
	    margin-top: -35px !important;
	}
  section.empresas>div>div.conteudo { 
	height: 130% !important;
}
html, body {
  overflow-x: hidden; /* Oculta a rolagem horizontal */
}
         .baloes {
		flex-direction: column;
        align-items: center;
        width: 170%;
        margin-left: -130px;
    }

    .baloes .balao {
        margin-bottom: 20px; /* Adiciona uma margem na parte inferior para separar os balões */
        width: 100%; /* Faz os balões ocuparem a largura total da tela */
    }
    /*.button {
      transform: translate3d(0, -130px, 0);
    }*/
}
@media only screen and (max-width: 660px) {
  section.historia {
    grid-template-areas: "imagem" "p1" "p2" "p3";
    grid-template-columns: 1fr;
  }
}
@media only screen and (max-width: 317px) {
  section#consultores > div:nth-of-type(2) > div {
    --larguraConsultor: 60vw;
  }
  section#ettFirst div > div:nth-of-type(2),
  section#shift div > div:nth-of-type(2),
  section#recruit div > div:nth-of-type(2) {
    min-height: 62px;
    margin-bottom: 1vh;
  }
}
