@font-face {
  font-family: fontProjeto;
  src: url(../font/CodecPro-Regular.ttf) format("truetype");
}
@font-face {
  font-family: fontExtraBold;
  src: url(../font/CodecCold-ExtraBold.ttf) format("truetype");
}
@font-face {
  font-family: fontCodecRegular;
  src: url(../font/codec-pro-light.ttf) format("truetype");
}
@font-face {
  font-family: fontCodecBold;
  src: url(../font/codec-pro-bold.ttf) format("truetype");
}
@font-face {
  font-family: fontAceh;
  src: url(../font/AcehSoft-Regular.ttf) format("truetype");
}
@font-face {
  font-family: sonnyGotich;
  src: url(../font/W\ Foundry\ -\ Sonny\ Gothic\ Condensed\ Bold.otf) format("opentype");
}
:root {
  --fontProjeto: fontProjeto;
  --fontExtraBold: fontExtraBold;
  --fontCodecRegular: fontCodecRegular;
  --fontCodecBold: fontCodecBold;
  --fontAceh: fontAceh;
  --sonnyGotich : sonnyGotich;
  --black: #313131;
  --green: #334644;
  --golden: #feb812;
  --vividBlue: #007bff;
  --azulFirst: hsl(222deg 48% 30%);
  --amareloFirst: hsl(41deg 99% 58%);
  --vermelhoFirst: hsl(358deg 51% 40%);
  --gray: rgb(66, 66, 66);
  --logoWidth: clamp(150px, 35vw, 300px);
  --headerMinHeight: 65px;
  --fontFamilyDiv: "Titillium Web", sans-serif;
  --fontSizeDiv: clamp(1.5em, 2vw, 30px);
  --textShadow: 1.5px 1.5px 0px #000000;
  --container: 1240px;
  --titillium: "Titillium Web", sans-serif;
  --fontSizeTitulos: clamp(28px, 4.5vw, 32px);
  --buttonFont: clamp(20px, 25px, 2.5vw);
  --paddingFaixas: clamp(50px, 5vw, 30%);
  --tamanhoRetangulo: 200px;
}
#geral {
  display: flex;
}
.imagem-texto img {
  max-width: 50%; /* Defina o tamanho máximo da largura da imagem */
  height: auto; /* Mantenha a proporção da imagem */
}

#botao-amarelo:hover {
  background-color: yellow;
}


.image-container {
  position: relative; /* Para posicionar o botão em relação a este contêiner */
}
.hr-especifico1 {
  position: absolute;
  left: 0;
  width: 100%;
  border: none;
  border-top: 2px solid var(--azulFirst);
  bottom: 0;
}
.hr-especifico2 {
  position: absolute;
  left: 0;
  width: 100%;
  border: none;
  border-top: 2px solid var(--vermelhoFirst);
  bottom: 0;
}
.hr-especifico3 {
  position: absolute;
  left: 0;
  width: 100%;
  border: none;
  border-top: 2px solid var(--amareloFirst);
  bottom: -585;
}
#botao-novo{
  bottom: 10px;
  left: 10px;
  background-color: #193264;
  color: #fff;
  border: 2px solid #fff;
  border-radius: 5px;
  cursor: pointer;
  font-family: var(--fontExtraBold);
  font-size: 16px;
  transition: background-color 0.3s, color 0.3s;
}
#botao-novo:hover {
  background-color: #007bff;
}
#call-to-action {
  position: absolute; /* Posicionamento absoluto em relação ao contêiner pai */
  bottom: 50px; /* Distância da parte inferior */
  left: 12%; /* Alinha o botão no meio horizontalmente */
  transform: translateX(-50%); /* Move o botão para a esquerda metade da sua própria largura */
  padding: 10px 20px; /* Espaçamento interno */
  background-color: #193264;
  color: #fff; /* Cor do texto branca */
  border: 2px solid #fff; /* Contorno branco */
  border-radius: 5px; /* Borda arredondada */
  cursor: pointer; /* Ícone de cursor de apontador */
  font-family: var(--fontExtraBold); /* Fonte do texto */
  font-size: 16px; /* Tamanho da fonte */
  transition: background-color 0.3s, color 0.3s; /* Tran
   z-index: 1; /* Garante que o botão esteja sobreposto à imagem */
}
.call-to-action:hover {
  background-color: #007bff; /* Cor de fundo azul */
}
.group-image {
  width: 100%;
}

.text-container {
  width: 50%;
  padding: 30px;
  /* font-size: 22px; */
}

.text-container h2 {
  font-family: var(--fontExtraBold);
  font-size: 30px;
  margin-bottom: 15px;
}

.text-container p {
  font-family: var(--fontCodecRegular);
  font-size: 20px;
  margin-bottom: 20px;
}
.imagem-texto,
.texto-imagem {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px; /* Espaçamento entre as seções */
}

.imagem-texto img,
.texto-imagem img {
    width: 200%; /* Ajuste a largura da imagem */
    max-width: 650px; /* Define um tamanho máximo para a imagem */
    margin-right: 0px; /* Adiciona uma margem à direita para separar o texto */
}

.imagem-texto div {
  width: 70%; /* Ajuste a largura do contêiner de texto */
}
.imagem-texto p {
  /*font-weight: bold; Torna o texto em negrito */
  font-family: var(--fontCodecRegular);
  margin-bottom: 20px; /* Adiciona espaço entre os parágrafos */
}
.texto-imagem .terceirizacao-paragraph {
  margin-bottom: 20px; /* Adiciona espaço entre os parágrafos */
}
.texto-imagem div {
  width: 100%; /* Ajuste a largura do contêiner de texto */
  margin-left: 20px; /* Adiciona uma margem à esquerda */
}
.texto-imagem p {
  font-family: var(--fontCodecRegular);
  margin-bottom: 10px; /* Adiciona espaço entre os parágrafos */
}

.imagem-texto div img {
    float: left; /* Imagem à esquerda */
}

.texto-imagem div img {
    float: right; /* Imagem à direita */
    margin-top: -20;
}
.imagem-texto p,
.texto-imagem p {
  line-height: 1.3;
  font-family: var(--fontProjeto);
  font-size: 19px;
}
#botao-especialista{
  bottom: 10px;
  left: 10px;
  background-color: #91191e;
  color: white;
  border: 1px solid white;
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 16px;
  transition: background-color 0.3s, color 0.3s;
  font-family: var(--fontExtraBold); /* Fonte do texto */
  cursor: pointer;
}
#botao-especialista:hover {
  background-color: red;
}
.texto-imagem div button {
  position: absolute;
  bottom: 50px;
  left: 795px;
  z-index: 1;
  background-color: #91191e;
  color: white;
  border: 1px solid white;
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 16px;
  transition: background-color 0.3s, color 0.3s;
  font-family: var(--fontExtraBold); /* Fonte do texto */
  font-size: 16px; /* Tamanho da fonte */
  cursor: pointer;
}
.texto-imagem div button:hover {
  background-color: red;
}
#botao-amarelo {
  position: absolute;
  bottom: -550px;
  left: 20px;
  z-index: 1;
  background-color: #fab42b;
  color: white;
  border: 1px solid white;
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 16px;
  transition: background-color 0.3s, color 0.3s;
  font-family: var(--fontExtraBold); /* Fonte do texto */
  font-size: 16px; /* Tamanho da fonte */
  cursor: pointer;
}
.imagem-texto p:last-of-type img {
  float: right;
  margin-right: 420px;
  margin-top: -30px;
}
/* @media screen and (max-width: 768px) {
  .imagem-texto,
  .texto-imagem {
    flex-direction: column; /* Altera a direção do flexbox para empilhar em dispositivos móveis
  }

  .imagem-texto img,
  .texto-imagem img {
    width: 100%; /* Define a largura da imagem como 100% para ocupar a largura total do contêiner
    max-width: none; /* Remove o limite máximo de largura
    margin-right: 0; /* Remove a margem à direita
    margin-bottom: 20px; /* Adiciona espaço entre as imagens e o texto
  }

  .imagem-texto div,
  .texto-imagem div {
    width: 100%; /* Define a largura do contêiner de texto como 100%
    margin-left: 0; /* Remove a margem à esquerda
  }

  .texto-imagem div {
    margin-top: 20px; /* Adiciona espaço entre as seções de texto e imagem
  }
  
} */
.move-up {
  margin-top: -13px;
}
@media screen and (min-width: 1920px) {
  :root {
    --fontSizeDiv: clamp(1.8em, 2.5vw, 35px);
    --fontSizeTitulos: clamp(32px, 5vw, 36px);
    --buttonFont: clamp(25px, 30px, 3vw);
    --paddingFaixas: clamp(60px, 6vw, 35%);
  }
  .hr-especifico1 {
    margin-bottom: 35px;
  }
  .hr-especifico2 {
    margin-bottom: 35px;
  }
  .hr-especifico3 {
    margin-bottom: 0px;
  }
  .texto-imagem div img {
    float: right;
    margin-top: -85px;
}
.div-mover {
  position: relative;
  top: -65px;
}
  .text-container {
    width: 60%;
    padding: 40px;
  }

  .imagem-texto img,
  .texto-imagem img {
    max-width: 800px;
  }

  .imagem-texto div,
  .texto-imagem div {
    width: 75%;
  }

  .texto-imagem div {
    margin-top: 30px;
  }

  .imagem-texto p,
  .texto-imagem p {
    font-size: 22px;
  }

  .text-container h2 {
    font-size: 35px;
  }

  .text-container p {
    font-size: 25px;
  }
}
@media screen and (max-width: 768px) {
  #novo > div:nth-child(2) {
    padding-left: 30px;
  }
  #amarelo > div:nth-child(2) {
    padding-left: 30px;
  }
  #aumentarLogo {
    max-height: 3.5rem;
  }
  #botao-especialista {
      position: relative;
      bottom: 90px;
      left: 10px;
  }
  #botao-amarelo {
    position: relative; /* Posiciona o botão fixamente na tela */
    bottom: 80px; /* Distância da parte inferior da tela */
    left: 10px; /* Distância da borda esquerda da tela */
    z-index: 10; /* Garante que o botão esteja sobreposto a outros elementos */
  }
  .imagem-texto,
  .texto-imagem {
    position: relative;
    flex-direction: column;
  }

  .imagem-texto img,
  .texto-imagem img {
    width: 100%;
    max-width: none;
    margin-right: 0;
    margin-bottom: 20px;
  }

  .imagem-texto div,
  .texto-imagem div {
    width: 100%;
    margin-left: 0;
  }

  .texto-imagem div {
    margin-top: 20px;
  }
  .call-to-action {
    position: relative; /* Posiciona o botão fixamente na tela */
    bottom: 90px; /* Distância da parte inferior da tela */
    left: 160px; /* Distância da borda esquerda da tela */
    z-index: 1; /* Garante que o botão esteja sobreposto a outros elementos */
  }
}
.hr-especifico2 {
  border: 1px solid #000;
  width: 100%;
  margin-top: 0px; /* Reduz a margem superior */
}
.logo {
  max-height: 1.5rem; /* Ajuste conforme necessário */
}

@media screen and (max-width: 1366px) {
  .hr-especifico1 {
    bottom: 4px;
    border-top: 3px solid var(--azulFirst);
  }
  .hr-especifico3 {
    bottom: -599px;
  }
  .imagem-texto p:last-of-type img { 
        margin-right: 390px;
  }
}
.container {
  max-width: 100%;
}
#novo {
  border: 1px solid;
}

#vermelho {
  border: 1px solid;
}

body, html {
    overflow-x: hidden;
    max-width: 100%;
}

@media screen and (min-width: 1920px) {
  .hr-especifico1 {
    margin-top: 120px;
}
  #logo-rio123 {
    margin-right: 630px;
    margin-top: -15px;
}
  .call-to-action {
    position: relative; /* Posiciona o botão fixamente na tela */
    bottom: 90px; /* Distância da parte inferior da tela */
    left: 160px; /* Distância da borda esquerda da tela */
    z-index: 1; /* Garante que o botão esteja sobreposto a outros elementos */
  }
  #botao-especialista {
    position: relative;
    bottom: 90px;
    left: 150px;
}
#botao-amarelo {
  position: relative; /* Posiciona o botão fixamente na tela */
  bottom: 80px; /* Distância da parte inferior da tela */
  left: 10px; /* Distância da borda esquerda da tela */
  z-index: 10; /* Garante que o botão esteja sobreposto a outros elementos */
}
  .container {
    max-width: 100%;
  }

  .imagem-texto img,
  .texto-imagem img {
    max-width: 800px;
  }

  .text-container {
    width: 60%;
  }
}
.imagem-texto p strong,
.texto-imagem p strong {
  font-family: var(--sonnyGotich);
  font-size: var(--fontSizeTitulos);
}