/*@media only screen and (max-width: 1714px) {
  div.principal div.dicas > .informacoes {
    width: 100%;
  }
}
@media only screen and (max-width: 900px) {
  section#header > div:nth-of-type(1),
  section#header > div:nth-of-type(2) {
    display: none;
  }
  section#header > div:nth-of-type(3) {
    display: flex;
    flex-direction: column;
    min-height: 50px;
    min-width: 50px;
    margin-right: 5px;
    aspect-ratio: 1;
    justify-content: space-around;
    cursor: pointer;
    z-index: 4;
  }
  section#header > div:nth-of-type(3) > div {
    min-height: 5px;
    min-width: 50px;
    background-color: lightgray;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
    transition: all 750ms;
    -webkit-transition: all 750ms;
    -moz-transition: all 750ms;
    -ms-transition: all 750ms;
    -o-transition: all 750ms;
  }
  div.menu {
    display: none;
  }
}
@media only screen and (max-width: 767px) {
  section#main {
    display: block;
  }
  section#main > div.principal {
    padding-top: 30px;
    padding-bottom: 30px;
  }
}
@media only screen and (max-width: 745px) {
  .primeiroAcesso form {
    background-image: none;
  }
}
@media only screen and (max-width: 560px) {
  section#header {
    background-size: 65px;
    padding: 0;
    padding-left: 80px;
    background-image: url(https://grupofirstrh.com.br/controles_img/Logo_FirstRH_Group_350x304.png);
  }
  section#header > div {
    height: 25px;
  }
  section#header > div:nth-of-type(1) {
    margin-right: 5px;
  }
  section#header > div:nth-of-type(1) > div:nth-of-type(1) {
    display: none;
  }
}
@media only screen and (max-width: 320px) {
  section#header > div:nth-of-type(3) {
    width: 40px;
    min-width: 40px;
  }
  section#header > div:nth-of-type(3) > div {
    min-width: 40px;
  }
} */
