@font-face {
  font-family: fontProjeto;
  src: url(../../font/CodecPro-Regular.ttf) format("truetype");
  }
@font-face {
  font-family: fontExtraBold;
  src: url(../../font//CodecCold-ExtraBold.ttf) format("truetype");
  }
@font-face {
  font-family: fontCodecRegular;
  src: url(../../font/codec-pro-light.ttf) format("truetype");
  }
@font-face {
  font-family: fontCodecBold;
  src: url(../../font/codec-pro-bold.ttf) format("truetype");
  }
@font-face {
  font-family: sonnyGotich;
  src: url(../../font/W\ Foundry\ -\ Sonny\ Gothic\ Condensed\ Bold.otf) format("opentype");
  }
:root {
  --fontProjeto: fontProjeto;
  --fontExtraBold: fontExtraBold;
  --fontCodecRegular: fontCodecRegular;
  --fontCodecBold: fontCodecBold;
  --sonnyGotich : sonnyGotich;
  --black: #313131;
  --green: #334644;
  --golden: #feb812;
  --vividBlue: #007bff;
  --azulFirst: hsl(222deg 48% 30%);
  --amareloFirst: hsl(41deg 99% 58%);
  --vermelhoFirst: hsl(358deg 51% 40%);
  --gray: rgb(66, 66, 66);
  --logoWidth: clamp(150px, 35vw, 300px);
  --headerMinHeight: 65px;
  --fontFamilyDiv: "Titillium Web", sans-serif;
  --fontSizeDiv: clamp(1.5em, 2vw, 30px);
  --textShadow: 1.5px 1.5px 0px #000000;
  --container: 1240px;
  --titillium: "Titillium Web", sans-serif;
  --fontSizeTitulos: clamp(28px, 4.5vw, 32px);
  --fontSizePadrao: clamp(19px, 18px, 2vw);
  --buttonFont: clamp(20px, 25px, 2.5vw);
  --paddingFaixas: clamp(50px, 5vw, 30%);
  --tamanhoRetangulo: 200px;
}

section#login {
  position: absolute;
  inset: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  /* font-family: var(--fontFamilyDiv); */
  font-family: var(--fontExtraBold);
  /* background-image: url(https://grupofirstrh.com.br/controles_img/logo_portal_corporativo.png); */
  background-image: url(../../new_img/CORPORTAIVO.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 2vh -2vw;
}
#login > div {
  background-color: #91191e;
}
/* #destino {
    background-color: #91191e;
} */
section#login > div {
  /* background-color: var(--vermelhoFirst); */
  background-color: #91191e;
  width: clamp(350px, 35vw, 600px);
  height: 350px; /* Adicione esta linha */
  box-sizing: border-box; /* Adicione esta linha */
  padding: 5vw;
  border-radius: 40px; /* Aumente o valor aqui */
  -webkit-border-radius: 40px; /* E aqui */
  -moz-border-radius: 40px; /* E aqui */
  -ms-border-radius: 40px; /* E aqui */
  -o-border-radius: 40px; /* E aqui */
  color: whitesmoke;
  font-size: var(--fontSizeDiv);
  box-shadow: 4px 4px 16px black;
  max-width: 95vw;
  margin-bottom: 100px;
}
section#login form > div {
  /* display: flex; */
  flex-direction: column;
  gap: 10px;
}
section#login form > div:not(div:last-of-type) {
  margin-bottom: 2vh;
}
section#login form label {
  font-size: 17px;
  font-weight: bold;
}
.primeiroAcesso {
  transform: translate(50%, 50%);
  position: absolute;
  top: 50%;
  right: 50%;
  transform: translate(50%, -50%);
  padding: 5vh;
  border-radius: 11px;
  box-shadow: black 15px 15px 26px;
  background-color: white;
  font-family: var(--fontFamilyDiv);
  display: flex;
  flex-direction: column;
  gap: 3vh;
  width: clamp(280px, 648px, 85vw);
}
.primeiroAcesso > div:first-of-type {
  position: absolute;
  top: 10px;
  right: 20px;
  font-size: 1.5rem;
  color: hsl(0deg 0% 75%);
  font-family: system-ui;
  cursor: pointer;
}
.primeiroAcesso > div:nth-of-type(2) {
  font-size: 1.2rem;
  font-weight: 600;
}
.primeiroAcesso label {
  font-weight: 700;
}
.primeiroAcesso input {
  margin-top: 3px;
  margin-bottom: 10px;
}
.primeiroAcesso form {
  background-image: url(https://grupofirstrh.com.br/img_aws/Logo_FirstRH_Group_350x304.png);
  background-repeat: no-repeat;
  background-position: center right;
  background-size: contain;
}
.hide-menu {
  display: none;
}
#loginForm {
  margin-top: -40px;
}
@media screen and (min-width: 1920px) {
  section#login {
    background-image: url(../../new_img/tentei.png);
  }
  #recuperarButton {
    bottom: 20px;
  }
}

/* @media screen and (max-width: 768px) {
  #loginForm {
    margin-top: 0px;
  }
  section#login > div {
    margin-bottom: 0px;
  }
  #sideMenu {
    display: none;
  }
  section#main > div.menu.active {
    width: 100%;
  }
} */