section#rodape {
  position: absolute;
  bottom: 0;
  background-color: var(--gray);
  color: white;
  font-family: var(--fontFamilyDiv);
  left: 0;
  right: 0;
}
section#rodape > div {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 50px;
  width: 100%;
  text-align: center;
}
section#rodape > div:first-of-type {
  padding: 5px;
}
section#rodape > div:last-of-type {
  min-height: 50px;
  background-color: var(--black);
}
