@font-face {
  font-family: fontProjeto;
  src: url(../../font/CodecPro-Regular.ttf) format("truetype");
  }
@font-face {
  font-family: fontExtraBold;
  src: url(../../font//CodecCold-ExtraBold.ttf) format("truetype");
  }
@font-face {
  font-family: fontCodecRegular;
  src: url(../../font/codec-pro-light.ttf) format("truetype");
  }
@font-face {
  font-family: fontCodecBold;
  src: url(../../font/codec-pro-bold.ttf) format("truetype");
  }
@font-face {
  font-family: sonnyGotich;
  src: url(../../font/W\ Foundry\ -\ Sonny\ Gothic\ Condensed\ Bold.otf) format("opentype");
  }
:root {
  --fontProjeto: fontProjeto;
  --fontExtraBold: fontExtraBold;
  --fontCodecRegular: fontCodecRegular;
  --fontCodecBold: fontCodecBold;
  --sonnyGotich : sonnyGotich;
  --black: #313131;
  --green: #334644;
  --golden: #feb812;
  --vividBlue: #007bff;
  --azulFirst: hsl(222deg 48% 30%);
  --amareloFirst: hsl(41deg 99% 58%);
  --vermelhoFirst: hsl(358deg 51% 40%);
  --gray: rgb(66, 66, 66);
  --logoWidth: clamp(150px, 35vw, 300px);
  --headerMinHeight: 65px;
  --fontFamilyDiv: "Titillium Web", sans-serif;
  --fontSizeDiv: clamp(1.5em, 2vw, 30px);
  --textShadow: 1.5px 1.5px 0px #000000;
  --container: 1240px;
  --titillium: "Titillium Web", sans-serif;
  --fontSizeTitulos: clamp(28px, 4.5vw, 32px);
  --fontSizePadrao: clamp(19px, 18px, 2vw);
  --buttonFont: clamp(20px, 25px, 2.5vw);
  --paddingFaixas: clamp(50px, 5vw, 30%);
  --tamanhoRetangulo: 200px;
}
section#login {
  position: absolute;
  inset: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: var(--fontFamilyDiv);
  /* background-image: url(https://grupofirstrh.com.br/controles_img/logo_portal_administrativo.webp); */
  background-image: url(../../new_img/CORPORTAIVO.png);
  background-repeat: no-repeat;
  background-size: auto;
  background-position: 2vh 0vw;
}
section#login > div {
  background-color: var(--azulFirst);
  width: clamp(350px, 35vw, 600px);
  padding: 5vw;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  color: whitesmoke;
  font-size: var(--fontSizeDiv);
  box-shadow: 4px 4px 16px black;
}
section#login form > div {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
section#login form > div:not(div:last-of-type) {
  margin-bottom: 3vh;
}
section#login form label {
  font-size: 17px;
  font-weight: bold;
  font-family: var(--fontExtraBold);
}